# Backend Python
backend/.env
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/venv/
backend/env/

# Frontend Node
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
